.sidebar {
  background-color: #111111;
  height: 100vh;
  position: fixed;
  width: 280px;
}

.sidebar a {
  color: #fff;
}

.sidebar .nav-link {
  padding: 10px 20px;
  margin: auto;
}

.sidebar .nav-link.active {
  background-color: #3b82f6;
  border-radius: 4px;
}

.top-right-nav {
  margin-left: 280px;
  width: calc(100% - 280px);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}

.btn-nav {
  color: rgb(144, 144, 144);
  background-color: #111111;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 4px;
  padding: 0px 4px;
  z-index: 1000;
}

.sidebar.collapsed {
  width: 77px;
}

main {
  margin-left: 280px;
  padding: 30px;
  background-color: #eff3f8;
  min-height: 100vh;
}

.nav-link {
  padding: 10px 12px !important;
  font-size: 15px;
  padding-left: 14px !important;
}

.nav-link:hover,
.nav-link.active {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1280px) {
  .sidebar {
    width: 77px !important;
  }

  .sidebar #logo {
    width: 25px !important;
  }

  .nav-label {
    display: none !important;
  }

  .top-right-nav {
    margin-left: 77px !important;
    width: calc(100% - 77px) !important;
  }

  #main {
    margin-left: 77px !important;
  }

  #toggleSidebar {
    position: absolute !important;
    top: 67px !important;
    left: 22px !important;
  }
}

.form-control:disabled {
  background-color: white;
  color: #979da5;
}

.switch-btn {
  width: 42px !important;
  height: 25px !important;
}

.title-page {
  font-size: 35px;
  font-weight: 700;
}

.nav-page {
  width: fit-content;
  padding: 7px;
  border-color: rgb(230, 230, 230);
  margin-bottom: 14px;
}

.btn-page {
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  width: fit-content;
  align-items: center;
  text-align: center;
  display: inline-flex;
  color: #fff;
  background: #3b82f6;
  border: 1px solid #3b82f6;
  padding: 0.4rem 1.25rem;
  font-size: 1rem;
  border-radius: 6px;
  outline-color: transparent;
  font-weight: 600;
}
