.sidebar {
  background-color: #111111;
  height: 100vh;
  position: fixed;
  width: 280px;
}

.sidebar a {
  color: #fff;
}

.sidebar .nav-link {
  padding: 10px 20px;
  margin: auto;
}

.sidebar .nav-link.active {
  background-color: #3b82f6;
  border-radius: 4px;
}

.top-right-nav {
  margin-left: 280px;
  width: calc(100% - 280px);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-nav {
  color: rgb(144, 144, 144);
  background-color: #111111;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 4px;
  padding: 0px 4px;
  z-index: 1000;
}

.sidebar.collapsed {
  width: 77px;
}

main {
  margin-left: 280px;
  padding: 30px;
  background-color: #eff3f8;
}

.nav-link {
  padding: 10px 12px !important;
  font-size: 15px;
  padding-left: 14px !important;
}

.nav-link:hover,
.nav-link.active {
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1280px) {
  .sidebar {
    width: 77px !important;
  }

  .sidebar #logo {
    width: 25px !important;
  }

  .nav-label {
    display: none !important;
  }

  .top-right-nav {
    margin-left: 77px !important;
    width: calc(100% - 77px) !important;
  }

  #main {
    margin-left: 77px !important;
  }

  #toggleSidebar {
    position: absolute !important;
    top: 67px !important;
    left: 22px !important;
  }
}
